@import "~bootstrap/scss/functions";
@import  "~bootstrap/scss/variables";
@import  "~bootstrap/scss/mixins/_breakpoints";
@import  "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  min-height: 100vh;
}

.header {
}

.body {
  min-height: 100vh;
  background-color: #f0f0f0;
}

.footer {
  padding: 20px 0;
}
