@import "~bootstrap/scss/functions";
@import  "~bootstrap/scss/variables";
@import  "~bootstrap/scss/mixins/_breakpoints";
@import  "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  min-height: 100vh;
}

// COMMON
.bg-gray-light {
  background-color: #f3f4f5;
}

.btn-green {
  margin-right: 10px;
  background-color: #28a745;
  color: #fff;
}
.btn-accent {
  background-color: #cba070;
  color: #fff;
}


.body {
  min-height: 100vh;
  background-color: #f0f0f0;
  .section-one {
    .summary {
      position: absolute;
      top: 29%;
      p {
        color: #7b7b7b;
        font-size: 24px;
      }
      .info-text {
        font-size: 30px;
      }
      b {
        color: #28a745;
      }
      .btn-control {
        margin-top: 20px;
      }
    }

  }
  .section-three {
    padding: 20px 0;
    color: #fff;
    .item {
      display: flex;
      padding: 20px;
      img {
        margin-right: 10px;
      }
    }
  }

  .section-account {
    padding: 30px;
    text-align: center;
  }
}

.site-footer {
  padding: 20px 0;
  color: #fff;
  .footer-links {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      margin-bottom: 5px;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
      }
    }
  }
  .copyright-text {
    font-size: 14px;
    color: #9e9a9a;
    text-align: center;
    a {
      margin-left: 5px;
      font-size: 16px;
    }
  }
  .mymap {
    border: 1px solid #ddd;
    padding: 2px;
    background: #fff;
  }
}
