@import "~bootstrap/scss/functions";
@import  "~bootstrap/scss/variables";
@import  "~bootstrap/scss/mixins/_breakpoints";
@import  "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  min-height: 100vh;
}

.header {
}

.body {
  min-height: 100vh;
  background-color: #f0f0f0;
}

.site-footer {
  padding: 20px 0;
  color: #fff;
  .footer-links {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      margin-bottom: 5px;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
      }
    }
  }
  .copyright-text {
    font-size: 14px;
    color: #9e9a9a;
    text-align: center;
    a {
      margin-left: 5px;
      font-size: 16px;
    }
  }
  .mymap {
    border: 1px solid #ddd;
    padding: 2px;
    background: #fff;
  }
}
